.App {
  text-align: center;
}
li{
  margin-left: 15px;
}
h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
pre {
  display:block;
  margin: 1em 100px;
  background-color:#8DA399;
  color:white;
  border-radius: 10px;
  overflow: auto;
  font-size: 14px;
}

code{
  margin-left: 5px;
}

.app-wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    'h h'
    'n c';

}

.header {
  grid-area: h;
  background-color: aqua;
  border: 2px solid #BC7062;
  border-bottom: 0cm;
}

.navbar {
  grid-area: n;
  background-color: blanchedalmond;
  border: 2px solid #BC7062;
  border-right: 0;
}

.content {
  grid-area: c;
  background-color:#DCF4C4;
  border: 2px solid #BC7062;
}



.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}